In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("kc_house_data.csv")

In [3]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.tail(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [5]:
df.shape

(21613, 21)

In [6]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [8]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [9]:
df.corrwith(df["price"])

id              -0.016762
price            1.000000
bedrooms         0.308350
bathrooms        0.525138
sqft_living      0.702035
sqft_lot         0.089661
floors           0.256794
waterfront       0.266369
view             0.397293
condition        0.036362
grade            0.667434
sqft_above       0.605567
sqft_basement    0.323816
yr_built         0.054012
yr_renovated     0.126434
zipcode         -0.053203
lat              0.307003
long             0.021626
sqft_living15    0.585379
sqft_lot15       0.082447
dtype: float64

In [10]:
df.drop(["id","zipcode"],axis=1,inplace=True)  #as it has negative corelation

In [11]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [12]:
df.drop(['date'],axis=1,inplace=True)

In [13]:
df.shape

(21613, 18)

In [14]:
df['Age'] = 2024 - df['yr_built']

In [15]:
df.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'Age'],
      dtype='object')

In [16]:
final_df = df[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors','waterfront', 'view', 'condition', 'grade','yr_renovated','lat', 'long',
               'sqft_living15', 'sqft_lot15', 'Age']]

In [17]:
final_df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_renovated,lat,long,sqft_living15,sqft_lot15,Age
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,0,47.5112,-122.257,1340,5650,69
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,1991,47.7210,-122.319,1690,7639,73
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,0,47.7379,-122.233,2720,8062,91
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,0,47.5208,-122.393,1360,5000,59
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,0,47.6168,-122.045,1800,7503,37

In [18]:
from sklearn.preprocessing import StandardScaler

In [27]:
scaler = StandardScaler()
numerical_columns = ['sqft_living', 'sqft_lot', 'sqft_living15','sqft_lot15']
final_df[numerical_columns] = scaler.fit_transform(final_df[numerical_columns])

C:\Users\shilp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\shilp\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [28]:
X = final_df.drop(['price'], axis = 1)
y = final_df['price']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [22]:
print(X_train.shape)
print(X_test.shape)

(15129, 15)
(6484, 15)

In [23]:
print(y_train.shape)
print(y_test.shape)

(15129,)
(6484,)

In [30]:
LR = LinearRegression()
LR.fit(X_train, y_train)

LinearRegression()

In [31]:
y_pred=LR.predict(X_test)

In [32]:
LR.score(X_test, y_test)

0.6850228580025954

In [33]:
from sklearn.tree import DecisionTreeRegressor

In [35]:
DT = DecisionTreeRegressor()

In [36]:
DT.fit(X_train, y_train)

DecisionTreeRegressor()

In [37]:
DT.score(X_test, y_test)

0.7387950368257046

In [38]:
from sklearn.ensemble import RandomForestRegressor

In [39]:
RF = RandomForestRegressor()
RF.fit(X_train, y_train)

RandomForestRegressor()

In [40]:
RF.score(X_test, y_test)

0.8632679115018069